.calculadora{
    
    background-color:rgb(38, 133, 88);
    border: black solid 1px;
}

button{
    height: 70px;
    width: 70px;
    font-size: 25px;
}

input{
    height: 70px;
    width: 290px;
    font-size: 25px;
}

.signo{
    background-color: rgb(52, 128, 199);
}

.numero{
    background-color: rgb(129, 182, 231);
}